<div class="container align-items-center d-flex justify-content-center">
  <form class="validate" dir="rtl">
    <div class="justify-content-start d-flex mt-4 align-items-center gap-3">
      <label for="inputState">كود الميناء</label>
      <input id="inputState" class="form-select border-success w-25" />
      <label for="inputState" class="form-label">اسم الميناء</label>
      <input id="inputState" class="form-select border-success w-50" />
      <label for="inputState" class="form-label">اسم الميناء بالانجليزي </label>
      <input id="inputState" class="form-select border-success w-50" />
    </div>

    <div class="justify-content-start d-flex mt-4 align-items-center gap-3">
      <label class="form-check-label" for="validationFormCheck3"
        >نوع الميناء</label
      >
      <select
        class="form-select border-success w-25"
        required
        aria-label="select example"
      >
        <option value="1">جوي</option>
        <option value="2">بحري</option>
      </select>
      <label class="form-check-label" for="validationFormCheck3"
        >نوع الميناء</label
      >
      <select
        class="form-select border-success w-25"
        required
        aria-label="select example"
      >
        <option value="1">جوي</option>
        <option value="2">بحري</option>
      </select>
      <label class="form-check-label" for="validationFormCheck3"
        >مؤشر الميناء</label
      >
      <select
        class="form-select border-success w-25"
        required
        aria-label="select example"
      >
        <option value="1">محلى</option>
        <option value="2">أجنبي</option>
      </select>

      <label for="inputState"> كود الميناء الدولى</label>
      <input id="inputState" class="form-select border-success w-25" />
    </div>
  </form>
</div>
