<form class="validate" dir="rtl">

  <div class="col-md-4 mt-4 ">
    <label for="inputState">كود الميناء</label>
    <input id="inputState" class="form-select border-success">
  </div>

  <div class="col-md-4 mt-4">
    <label for="inputState" class="form-label">اسم الميناء</label>
    <input id="inputState" class="form-select border-success">
  </div>

  <div class="col-md-12 mt-4 pb-4">
    <label for="inputState" class="form-label">اسم الميناء بالانجليزي </label>
    <input id="inputState" class="form-select border-success ">
  </div>

  <div class="mb-3 mt-4">
    <label class="form-check-label" for="validationFormCheck3">نوع الميناء</label>

    <select class="form-select border-success" required aria-label="select example">

      <option value="1">جوي</option>
      <option value="2">بحري</option>
    </select>
    <div class="invalid-feedback">Example invalid select feedback</div>
  </div>

  <!-- <legend class="col-form-label ">نوع الميناء</legend>

    <div class="form-check pe-3">
      <label class="form-check-label " for="validationFormCheck3">
      <input class="form-check-input " type="radio" name="gridRadios" id="inputState" value="option1" unchecked>
        جوي
      </label>
    </div>
    <div class="form-check pe-3 pb-4">
      <label class="form-check-label " for="validationFormCheck3">
      <input class="form-check-input" type="radio" name="gridRadios" id="inputState" value="option1" unchecked>
        بحرى
      </label>
    </div> -->


  <!-- <legend class="col-form-label ">مؤشر الميناء</legend>

    <div class="form-check pe-3">
      <label class="form-check-label " for="validationFormCheck3">
      <input class="form-check-input " type="radio" name="gridRadios" id="inputState" value="option1" unchecked>
        اجنبي
      </label>
    </div>
    <div class="form-check pe-3 pb-4">
      <label class="form-check-label " for="validationFormCheck3">
      <input class="form-check-input" type="radio" name="gridRadios" id="inputState" value="option1" unchecked>
        محلى
      </label>
    </div> -->


  <div class="mb-3">
    <label class="form-check-label" for="validationFormCheck3">مؤشر الميناء</label>

    <select class="form-select border-success" required aria-label="select example">

      <option value="1">محلى</option>
      <option value="2">أجنبي</option>
    </select>
    <div class="invalid-feedback">Example invalid select feedback</div>
  </div>
  <div class="col-md-4 mt-4 ">
    <label for="inputState"> كود الميناء الدولى</label>
    <input id="inputState" class="form-select border-success">
  </div>


</form>
