<div class="container align-items-center d-flex justify-content-center text-black" fxLayout="column">
  <form class="validate" dir="rtl">
    <div class=" " fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">

      <div fxFlex="10">
      <label for="inputState" class="form-label">كود الميناء</label>
      <input id="inputState" class="form-select border-success " />
      </div>

      <div fxFlex="30">
      <label for="inputState" class="form-label">اسم الميناء</label>
      <input id="inputState" class="form-select border-success" />
      </div>

      <div fxFlex="30">
      <label for="inputState" class="form-label">اسم الميناء بالانجليزي </label>
      <input id="inputState" class="form-select border-success " />
      </div>

    </div>

    <div class="justify-content-start d-flex mt-4 align-items-center gap-3 text-black" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center"  fxFlexAlign="center">
      <div fxFlex="30">
      <label class="form-check-label form-label" for="validationFormCheck3"
        >نوع الميناء</label
      >
      <select
        class="form-select border-success "
        required
        aria-label="select example"
      >
        <option value="1">جوي</option>
        <option value="2">بحري</option>
      </select>
      </div>
      <div fxFlex="30">
      <label class="form-check-label form-label" for="validationFormCheck3"
        >مؤشر الميناء</label
      >
      <select
        class="form-select border-success "
        required
        aria-label="select example"
      >
        <option value="1">محلى</option>
        <option value="2">أجنبي</option>
      </select>
    </div>

      <div fxFlex="30">
      <label for="inputState" class="form-label"> كود الميناء الدولى</label>
      <input id="inputState" class="form-select border-success " />
    </div>

    </div>
  </form>
</div>
<div   class="container col justify-content-center align-items-center d-flex flex-column text-black" dir="auto">
  <div class=" mt-4 pb-4 col-6 ">
    <label for="inputState" class="form-label">ملاحظات </label>
    <textarea class="form-control border-success" id="exampleFormControlTextarea1" rows="2"></textarea>
  </div>
  <div class=" pb-4 col-6 d-flex flex-row justify-content-center align-items-center">

    <div class=" p-2 ">
      <label for="inputPassword6" class="col-form-label">تاريخ الادخال</label>
      <input type="date" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>


    <div class="me-auto p-2">
      <label for="inputPassword6" class="col-form-label">مستخدم الادخال</label>
      <input type="text" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>



  </div>
  <div class="col-6 d-flex flex-row pb-4 justify-content-center align-items-center">
    <div class=" p-2">
      <label for="inputPassword6" class="col-form-label">تاريخ التعديل</label>
      <input type="date" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>


    <div class="me-auto p-2">
      <label for="inputPassword6" class="col-form-label">مستخدم التعديل</label>
      <input type="text" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>


  </div>




</div>
