<!-- <div class="container"> -->
  <!-- <div
  class="container ps-0 bg bg-info-subtle justify-content-center"
  dir="rtl"
  >
  <main-navbar class="fixed-top"></main-navbar>
    <section class="col-3 bg-dark">
      <side-nav></side-nav>
    </section>

    <div class="col-8">
      <router-outlet></router-outlet>
      <view-layout></view-layout>
    </div>
    <app-footer></app-footer>
  </div> -->
<!-- </div> -->
<main-navbar (toggleSideBarForMe)="sideBarToggler()"></main-navbar>
<mat-drawer-container color="primary">
  <!-- <mat-drawer mode="side" [opened]="sideBarOpen">
    <side-nav></side-nav>
  </mat-drawer> -->

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


  <app-footer></app-footer>


