<!-- <div class="side-nav">
  <div class="column flex-nowrap">

    <div
      class=" min-vh-100 "

    >
      <nav class="p-4  mt-3">
        <a
          class="nav-link d-flex text-decoration-none align-items-center mb-2"
          aria-current="page"
          routerLink="/layout"
          routerLinkActive="active"
        >
          <i class="bi bi-house-door-fill me-2"></i>
          <span class=""> الرئيسية </span></a
        >
        <a
          class="nav-link d-flex text-decoration-none align-items-center mb-2"
          routerLink="/data"
          routerLinkActive="active"
        >
          <i class="bi bi-house-door-fill me-2"></i>
          <span class=""> بيانات الشركات </span>
          <i class="bi bi-caret-right-fill ms-2"></i></a>
        <a
          class="nav-link d-flex text-decoration-none align-items-center mb-2"
          routerLink="/data port"
          routerLinkActive="active"
        >
          <i class="bi bi-house-door-fill me-2"></i>
          <span class=""> بيانات الموانئ </span>
          <i class="bi bi-caret-right-fill ms-2"></i>
        </a>
      </nav>
    </div>
  </div>
</div> -->



<!-- <div class="min-vh-100">
<a
          class="nav-link d-flex text-decoration-none align-items-center my-3 ps-3"
          aria-current="page"
          routerLink="/layout"
          routerLinkActive="active"
        >
          <i class="bi bi-house-door-fill me-3"></i>
          <span class=""> الرئيسية </span></a
        >
<a
          class="nav-link d-flex text-decoration-none align-items-center my-3 ps-3"
          aria-current="page"
          routerLink="/data port"
          routerLinkActive="active"

        >
          <i class="bi bi-house-door-fill me-3"></i>
          <span class=""> بيانات الشركات </span></a
        >
<a
          class="nav-link d-flex text-decoration-none align-items-center my-3 ps-3"
          aria-current="page"
          routerLink="/data"
          routerLinkActive="active"

        >
          <i class="bi bi-house-door-fill me-3"></i>
          <span class=""> بيانات الموانئ </span></a
        >


</div> -->



