<div class="container align-items-center d-flex justify-content-center text-black">

<form class="validate " dir="rtl">

  <div class=" " fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
    <div fxFlex="15">
    <label for="inputState" class="form-label">رقم الشركة</label>
    <input id="inputState" class="form-select border-success" >
  </div>

  <div fxFlex="30">
    <label for="inputState" class="form-label"> الاسم المختصر</label>
    <input id="inputState" class="form-select border-success">
</div>

<div fxFlex="30">
    <label for="inputState" class="form-label">الكود الدولى</label>
    <input id="inputState" class="form-select border-success ">

  </div>
  </div>

  <div class="  " fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center"  fxFlexAlign="center">
    <div class="ms-auto col-8 pt-3" fxFlex="50">
      <label for="inputState"  class="form-label">اسم الشركة</label>
      <input id="inputState" class="form-select border-success">
    </div>
    <div class="me-auto pt-3 " fxFlex="40">
      <label for="inputState"  class="form-label">اسم الشركة بالانجليزي </label>
      <input id="inputState" class="form-select border-success">
    </div>
  </div>


  <div class="col-md-12 mt-4 pb-4">
    <label for="inputState" class="form-label">العنوان</label>
    <input id="inputState" class="form-select border-success ">
  </div>

</form>
</div>
<div class="container col justify-content-center col-8 align-items-center d-flex flex-column text-black" dir="auto">
  <div class=" mt-4 pb-4 col-8 ">
    <label for="inputState" class="form-label">ملاحظات </label>
    <textarea class="form-control border-success" id="exampleFormControlTextarea1" rows="2"></textarea>
  </div>
  <div class=" pb-4 col-8 d-flex flex-row justify-content-center align-items-center">
    <div class=" p-2">
      <label for="inputPassword6" class="col-form-label">تاريخ الادخال</label>
    </div>
    <div class="ms-auto p-2">
      <input type="date" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>

    <div class="me-auto p-2">
      <label for="inputPassword6" class="col-form-label">مستخدم الادخال</label>
    </div>
    <div class="p-2">
      <input type="text" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>

  </div>
  <div class="col-8 d-flex flex-row pb-4 justify-content-center align-items-center">
    <div class=" p-2">
      <label for="inputPassword6" class="col-form-label">تاريخ التعديل</label>
    </div>
    <div class="ms-auto p-2">
      <input type="date" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>

    <div class="me-auto p-2">
      <label for="inputPassword6" class="col-form-label">مستخدم التعديل</label>
    </div>
    <div class="p-2">
      <input type="text" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>

  </div>




</div>
