<div class="bg bg-dark  ">

  <div class=" fixed-top  ">
    <main-navbar></main-navbar>
  </div>


  <div class="side-nav ps-4 pt-5 text-white bg-body-tertiary rounded z-3">
    <side-nav></side-nav>
  </div>

  <div class="pt-4 pt-5" dir="rtl">
    <app-menutab></app-menutab>
  </div>
  <section class=" container text-white  " dir="rtl">


  </section>

  <section  dir="rtl">
    <!-- <app-view-layout></app-view-layout> -->
  </section>


  <section class=" container text-white"dir="rtl">
    <app-footer></app-footer>
  </section>

</div>

<!-- <div class=" container-fluid">
  <div class="bg-body-tertiary rounded ">

    <main-navbar></main-navbar>
  </div>

</div>
<div class="container shadow p-3 mb-5 bg-body-tertiary rounded " dir="rtl">
  <app-view-layout></app-view-layout>
  <header class="mt-5 pt-3 ">
    <app-menutab></app-menutab>
  </header>

  <section>
    <app-data-entry></app-data-entry>
    <app-com-data-entry></app-com-data-entry>
  </section>

  <section>
    <app-view-layout></app-view-layout>
  </section>

  <section>
    <app-footer></app-footer>
  </section>



</div> -->




