<div class="contaner">
  <div class="col-md-12 mt-4 pb-4">
    <label for="inputState" class="form-label">ملاحظات </label>
    <textarea class="form-control border-success" id="exampleFormControlTextarea1" rows="2"></textarea>
  </div>

  <div class="d-flex pb-4">
    <div class=" p-2">
      <label for="inputPassword6" class="col-form-label">تاريخ الادخال</label>
    </div>
    <div class="ms-auto p-2">
      <input type="date" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>

    <div class="me-auto p-2">
      <label for="inputPassword6" class="col-form-label">مستخدم الادخال</label>
    </div>
    <div class="p-2">
      <input type="text" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>

  </div>
  <div class="d-flex pb-4">
    <div class=" p-2">
      <label for="inputPassword6" class="col-form-label">تاريخ التعديل</label>
    </div>
    <div class="ms-auto p-2">
      <input type="date" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>

    <div class="me-auto p-2">
      <label for="inputPassword6" class="col-form-label">مستخدم التعديل</label>
    </div>
    <div class="p-2">
      <input type="text" id="inputPassword6" class="form-control border-success" aria-describedby="passwordHelpInline">
    </div>

  </div>



</div>
